body{
    background: #eee;
}
#header{
    padding:10px;
}
#header-img{
    padding: 20px;
}
#header-img img{
    height: 50%;
}
#header-text{
    text-align: center;
}
#header-text h1{
    color: white;
}
#header-text h2{
    color: #EDEDED;
}
#menu-items{
    margin-top: 50px;
}
#main-content{
    padding-top: 100px;
    background-image: url(https://www.uwo.ca/web_standards/img/bkg/bigshield.gif);
    background-repeat: no-repeat;
    background-position: 50% 0;
    color: #333;
    font-size: 14px;
    height: 100vh;
    padding-bottom: 20px;
}
.titlebar{
    background-color: #4F2683;
    padding: 10px;
}
.titlebar h3{
    color : white;
    font-size: 30px;
}
.content-card{
    background-color: white;
    margin: 20px;
    width: 65vw;
}
.content-card .content{
    padding: 20px;
}
#welcome-card.content-card{
    /*width: 30vw;*/
}
#edit-res-card.content-card, #edit-gen-card.content-card{
    width: 30vw;
}