{{#if oudaAuth.isAuthenticated }}
<div>
  {{home-page}}
</div>
{{else}}
<div>
  {{#unless oudaAuth.getName}} {{outlet "login"}} {{/unless}}
</div>
{{/if}}


<!-- TODO move home-page content (ie sidebar etc) to here