<img id = "wildcats-logo" class="ui centered image" src="/assets/images/Wildcats.jpeg">
<h2>The Wildcats Team</h2>
<div class = "ui grid">
<P>
The Wildcats Team is a dedicated team of 5 third year software engineering students at Western. With a wide array of experiences ranging from console applications, to game design, to web development, the Wild Cats Team works hard to make your software solutions a reality. 
The team is comprised of Spencer, Brandon, Fan, Samuel, and Kristian.  Brought together by their love for basketball and singing, the Wild Cats are committed to enhancing your daily lives with software
</P>
</div>