<div class="ui center aligned header">
  <h2>Edit Residency</h2>
</div>
<!--
<div class="ui top attached tabular menu">

  <div class="active item" data-tab="edit">Edit</div>
  <div class="item" data-tab="add">Add</div>

</div>

<div class="ui bottom attached active tab segment" data-tab="edit">
    <h3>Edit</h3>
</div>

<div class="ui bottom attached tab segment" data-tab="add">
    <h3>Add</h3>
    <div class="ui inverted menu">
<a class="item" {{action 'saveStudent'}}>
    <i class="save icon"></i> Save
  </a>
  </div>
</div>

-->
<h3>Add</h3>
<div class="ui form">
        <div class="inline field">
          <label>Enter residency</label> {{input size="20" type="text" value = residencyName}}
        </div>
        
<button class="ui button" {{action 'saveResidency'}}>
    <i class="save icon"></i> Save
</button>
</div>
