<div class="ui center aligned header">
  <h2>Edit Gender</h2>
</div>

<h3>Add</h3>
<div class="ui form">
        <div class="inline field">
          <label>Enter gender</label> {{input size="20" type="text" value = genderName}}
        </div>
</div>

<button class="ui button" {{action 'saveGender'}}>
    <i class="save icon"></i> Save
</button>