<div class="ui modal">
  <div class="header">Search Students Using the Input Fields and by Pressing 'Search'</div>
  <div class="content">

    <div class="inline field">
      <label>Student Number</label>
      {{input size="10" type="text"  value = idSearch}}
    </div>
    <div class="inline field">
      <label>First Name</label>
      {{input type="text"  value = firstNameSearch}}
    </div>
    <div class="inline field">
      <label>Last Name</label>
      {{input type="text" value = lastNameSearch}}
    </div>

    <div class="inline field">
      <div class="header">Search Students Using the Input Fields and by Pressing 'Search'</div>
      {{#each studentsModel as |oneStudent|}}

      {{/each}}
    </div>


    <div class="actions">
      <hr>
      <div class="ui button" {{action "search"}}>
        <i>Search</i>
      </div>

    </div>

  </div>
</div>