  {{#if isLoading}}

      <table class="ui celled table">
        <thead>
        <tr>
          {{#each tableHeader as |header|}}
            <th>{{header}}</th>
          {{/each}}
        </tr>
        </thead>

        <tbody>
        {{#each tableData as |oneRow|}}
          <tr>
            {{#each oneRow as |oneCol|}}
              <td>{{oneCol}}</td>
            {{/each}}
          </tr>
        {{/each}}
        </tbody>
      </table>
      <button class="ui button" {{action 'done'}}> Done</button>

  {{else}}
    <div>
      <button class="ui button">{{#file-picker fileLoaded="getGenderData" accept=".xlsx" readAs="readAsBinaryString"}}
        Gender
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="getResidencyData" accept=".xlsx" readAs="readAsBinaryString"}}
        Residency
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="getStudentsData" accept=".xlsx" readAs="readAsBinaryString"}}
        Students
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="getAdvancedStandingData" accept=".xlsx" readAs="readAsBinaryString"}}
        Advanced Standing
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="getHighSchoolData" accept=".xlsx" readAs="readAsBinaryString"}}
        High Schools
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="getAwardsData" accept=".xlsx" readAs="readAsBinaryString"}}
        Awards
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>
      <button class="ui button">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      <br>

    </div>
  {{/if}}