
<div>
    <h3 class="ui header">Advanced Standing</h3>
</div>
<form action="importAdvancedStanding">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Genders</h3>
</div>
<form action="importGenders">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">High School Course Information</h3>
</div>
<form action="importHSCourse">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">High Schools</h3>
</div>
<form action="importHighSchools">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Residencies</h3>
</div>
<form action="importResidencies">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Scholarships and Awards</h3>
</div>
<form action="importScholarshipsAwards">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Students</h3>
</div>
<form action="importStudents">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Undergraduate Courses</h3>
</div>
<form action="importUndergradCourses">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Undergraduate Record Plans</h3>
</div>
<form action="importRecordPlans">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Undergraduate Record Courses</h3>
</div>
<form action="importRecordCourses">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
<br>

<div>
    <h3 class="ui header">Term Codes</h3>
</div>
<form action="importTermCodes">
  <input type="file" name="Residencies" accept=".xls,.xlsx">
  <input type="submit">
</form>
<hr>
