<div id="man-users-card" class="ui content-card">
    <div class="titlebar">
        <h3 class="titlebar-header">Manage Users</h3>
    </div>
    <div class="content">
        {{manage-users}}
    </div>
</div>
<div id="man-roles-card" class="ui content-card">
    <div class="titlebar">
        <h3 class="titlebar-header">Manage System Roles</h3>
    </div>
    <div class="content">
        {{manage-roles}}
    </div>
</div>
<div id="man-feats-card" class="ui content-card">
    <div class="titlebar">
        <h3 class="titlebar-header">Manage System Features</h3>
    </div>
    <div class="content">
        {{manage-features}}
    </div>
</div>