<div class="ui top attached tabular menu">
    <a class="active item" data-tab="adjudication">Adjudicate Records</a>
    <a class="item" data-tab="manageComments">Manage Comments</a>
    <a class="item" data-tab="manageRules">Manage Rules</a>    
</div>
<div class="ui bottom attached active tab segment" data-tab="adjudication">
    <div class="ui grid">
        <div class="ui form">
            <label>Adjudication tab</label>
        </div>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="manageComments">
    <div class="ui grid">
        <div class="ui form">
            <div class="ten wide segment">
                <div class="ui right aligned seven wide column">
                <br>
                
                <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="manageRules">
    <div class="ui grid">
        <div class="ui form">
            <label>rules tab</label>
        </div>
    </div>
</div>
