<h2>This is a sample Ember code showing:</h2>
<p>Curabitur a imperdiet nisi. Phasellus ultrices feugiat ex, non pretium turpis consectetur vitae. Proin quam risus, bibendum sed viverra eget, elementum fermentum risus. Aenean purus mi, pellentesque ac felis at, mattis tristique lacus. Maecenas tellus urna, consectetur lacinia lacinia a, suscipit vel risus. Ut dapibus aliquet nisl, ac viverra nulla. Ut eget mi hendrerit augue suscipit posuere. Etiam turpis massa, lobortis nec quam sed, placerat dignissim ipsum. Curabitur imperdiet gravida enim, sed vestibulum nulla semper quis. Donec imperdiet elementum pellentesque. Duis convallis vitae odio tincidunt tempor.</p>
<ul>
  <li>The solution of SE3352a assignment 2</li>
  <br>
  <li>The powerful of Ember Components</li>
  <br>
  <li>The integration with Semantic-UI</li>
</ul>
<p>Ut dapibus aliquet nisl, ac viverra nulla. Ut eget mi hendrerit augue suscipit posuere. Etiam turpis massa, lobortis nec quam sed, placerat dignissim ipsum. Curabitur imperdiet gravida enim, sed vestibulum nulla semper quis. Donec imperdiet elementum pellentesque. Duis convallis vitae odio tincidunt tempor.</p>
